* {
    padding: 0%;
    margin: 0;
}

body {
    background-color: white;
    display: flex;

    min-height: 100vh;
    justify-content: center;
    margin: auto;
    align-items: center;



}

.container {
    width: 330px;
    padding: 2rem 1rem;
    background-color: rgb(4, 57, 78);
    text-align: center;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 20px 35px rgb(0, 0, 0.1);


}

h1 {
    padding: 20px;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid white;
    padding: 12px 10px;

    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #e4e4e4;
}

.button {
    font-size: 1rem;
    outline: none;
    border: none;
    text-decoration: none;
    padding: 12px 10px;
    margin-top: 1.8rem;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(17, 107, 143);
    content: "\f178";
    transition: all 0.2s linear 0s;
    color: white;

}

a {
    text-decoration: none;
    color: white;
}

.button:hover {
    text-indent: -20px;




}